
.menu{
    margin-top: 05px;
    background-color: darkgray !important;
}
.menu a{
        color: black !important;
}
.insertArtigo{
    margin-left: 0px;
    margin-right: 0px;
}
.title{
    text-align: center;
    background-color: darkgray;
    margin: 30px 30px 30px auto;
    margin-left: 40px;
}
.box{
    width:1150px;
    margin: 0px 0px 0px 0px;
    margin-left: 40px;
}
#inputConteudo, #inputTitle, #inputImage, #inputAutor, #inputResumo{
    width: 88%;
}
#inputConteudo{
    height:50px;
}
input::placeholder {
    margin: 0 !important;
    padding: 0 !important;
} 
#btnPublicar{
    float: right;
    margin: 5px 0 5px 0;
    width: 150px;
}
#btnPreview {
    float: right;
    width: 150px;
    padding-top: 5px;
}
#tela{
    background-color: rgb(211, 211, 211);
    margin: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#artigo_preview{
    border-width: medium;
    border-style: solid;
    border-color: rgb(139, 139, 139);
    margin-top: 5px;
}
#artigo_preview h1{
    text-align: center;
}
#artigo_preview h2{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
#artigo_preview p{
    text-align: justify;
}
.img_artigo{
    width: 60%;
    height: 400px;
    margin-left: 22%;
    margin-top: 02%;
}



.footer{
    margin-top: 0px;
    background-color: rgba(143, 143, 143, 1);
    color: rgb(0, 0, 0);
}
.footer_area{
    padding: 20px;
    text-align: left  ;
}

/* Media Queries */

@media screen and (max-width:600px){
#inputConteudo, #inputTitle, #inputImage, #inputAutor{
    display: none;
}

.title{
    text-align:center; 
}
.title p{
    text-align:justify; 
}

.header{
    padding: 0px;
}
.barra{
    display:none;  
}
}
@media screen and (min-width:601px) and (max-width:980px){
.header{
    padding: 0px;
}
.barra{
    display:none;  
}
#inputConteudo, #inputTitle, #inputImage, #inputAutor{
    
    width: 721px;
}
.title{
    width: 721px;
}
.main{
    margin: 2px 0px 0 50px;
    width:100%;
    padding: 0;
}

}