.menu{
    background-color: darkgray !important;
}
.menu a{
    color: black !important;
}
/*Bloco Inicial */
.picture {
    width: 300px;
    margin: 30px;
}
.informacao {
    margin: 45px;
    margin-top: 40px;
}
.informacao p {
    color: black;
}
/* Botão leia mais */
.botao_leia_mais{
    width: 13%;
    height: 62%;
    margin: 10px 1em 10px 45%;  
    padding: 0px;
    color: black !important;
    border-color: rgba(124, 118, 187, 1) !important;
    background-color: darkgray !important;
}
/*Bloco Artigos */
.card_artigos{
    background-color: darkgray;
}
.card_artigos img {
    width: 100%;
    padding-top: 10px;
}
.artigo{
    background-color: rgba(30, 24, 24, 1);
    margin-top: 0px;
}
.artigo h2{
    text-align: center;
    color: white;
}
.artigo p{
    text-align: justify;
    color: white;
    padding: 15px;
}
/*Bloco Resumo */
.picture2{
    width: 400px;
    margin: 30px;
}
.resumo p{
    margin-top: 80px;
    text-align: justify;
    color:black;
    
}
/*Bloco Relatos */
.card_relatos{
    background-color: darkgray;
}
.relato{
    background-color: white;
    border-radius: 10px;
    margin-top: 0px;
}
.relato p{
    color: black;
    text-align: justify;
    padding: 15px;
}
.card_relatos img{
    margin-left: 38%; 
}
/*Bloco Footer */
.footer{
    margin-top: 0px;
    background-color: rgba(143, 143, 143, 1);
    color: rgb(0, 0, 0);
}
.footer_area{
    padding: 20px;
    text-align: left  ;
}

/* Media Queries */

@media screen and (max-width:600px){
.informacao{
    text-align: justify;
    margin: 0;
}
.picture{
    width: 80%;
}
.picture2{
    width: 85%;
    height: 90%;
}
.botao_leia_mais{
    width: 53%;
    height: 62%;
    margin-left: 25% !important;  
    padding: 0px;
    color: black !important;
    border-color: rgba(124, 118, 187, 1) !important;
    background-color: darkgray !important;
}
.resumo p{
    margin-top: 20px;
}
.card_relatos img{
    margin-left: 42%; 
}
.header{
    padding: 0px;
}
.barra{
    display:none;  
}
}
@media screen and (min-width:601px) and (max-width:980px){
.informacao{
    text-align: justify;
    margin: 0;
}
.picture{
    width: 80%;
}
.space{
    display: none;
}
.tablet{
    display: none;
}
.picture2{
    width: 85%;
    height: 90%;
}
.botao_leia_mais{
    width: 53%;
    height: 62%;
    margin-left: 25% !important;  
    padding: 0px;
    color: black !important;
    border-color: rgba(124, 118, 187, 1) !important;
    background-color: darkgray !important;
}
.resumo p{
    margin-top: 20px;
}
.card_relatos img{
    margin-left: 42%; 
}
.header{
    padding: 0px;
    
}
.barra{
    display:none;  
}   
}